.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.game-title-memory {
    display: flex;
    align-items: center;
    font-size: 45px;
    padding: 10px 15px;
    color: white;
    padding: 45px;
    background-color: #f5a623;
}