:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Centers the grid and game elements in the middle of the screen */
.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

/* Start button style */
.start-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.start-btn:hover {
  background-color: #2980b9;
}

.game-over {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: green;
}

/* Styles for the grid container */
.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

/* Creates a 5x5 grid with more space between items */
.grid {
  display: grid;
  grid-template-columns: repeat(5, 80px);
  grid-template-rows: repeat(5, 80px);
  gap: 20px;
}

/* Styles each button */
button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #3498db;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:disabled {
  background-color: #dfe6e9;
  /* Light grey for disabled */
  cursor: not-allowed;
}

button:hover {
  background-color: #2980b9;
}

.timer {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}